/* These are used as a flexible way of adding horizontal whitespace.*/

.create_ws_onefifty
{
	margin-top: 150px;
}

.create_ws_ninety
{
	margin-top: 90px;
}

.create_ws_sixty
{
	margin-top: 60px;
}

.create_ws_forty
{
	margin-top: 40px;
}

.create_ws_twenty_five
{
	margin-top: 25px;
}

.create_ws_twenty
{
	margin-top: 20px;
}

.create_ws_fifteen
{
	margin-top: 15px;
}